.main {
  width: 100vw;
  height: 100vh;

  background-color: #ffffff;
  color: #000;

  display: flex;
}

.welcomeBlock {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../../../public/backgroundWelcome.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome {
  width: 100%;
  text-align: center;
}
