.container {
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  align-items: center;

  padding: 10px;
  max-width: 70%;
  /* word-wrap: break-word; */
}

.time {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.button {
  width: 100%;
  font-size: 20px;
  background: none;
  border: none;
}
