.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transform: scale(0);
}

.active {
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 150px;

  background-color: #bababa;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  opacity: 0;
  transition: all 0.2s;
}

.content_active {
  opacity: 1;
}
