.main {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid grey;
  /* перенести границу в UserList и сделатьчтобы последний получал границу снизу */

  padding: 5px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.userName {
  font-weight: 600;
  font-size: 1rem;
}
.message {
  font-size: 0.8rem;
  color: gray;
}

.id {
  color: grey;
}
